@page "/"

<h1>Let's enjoy Brainfxxk!</h1>

Brainfxxk で遊べるよ
<br />
<a href="https://www.nuget.org/packages/BFCore/" target="_blank" class="ml-md-auto">BFCore</a> のお試しだよ（宣伝）
<br />
Blazor で動いてるよ（使ってみたかった）
<br />
<br />
面倒だったから、入力（<code>,</code> コマンド）は実装してないよ
<br />
<br />
（HTML には力を入れていないのであしからず）
<br />
<br />
<br />
<br />

<h2>説明</h2>
<br />

<h3>General</h3>

普通の Brainfxxk
<br />
<br />

<h3>響ちゃんマジ天使言語</h3>

<a href="https://github.com/koktoh/hibiki_angel_language_wpf" target="_blank" class="ml-md-auto">響ちゃんマジ天使言語</a>で遊べる
<br />
<br />

<h3>オリジナル言語</h3>

Brainfxxk の各コマンドを好きな文字列に設定して遊べる
