@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/koktoh/brain-fxxk-core" target="_blank" class="ml-md-auto">GitHub <span class="oi oi-external-link" /></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
